{{#importPackages}}
{{&.}}
{{/importPackages}}

const routerConf = [
  {{#confData}}
  { 
    path: '{{&linkPath}}',
    layout: {{&layoutName}},
    component: {{&compName}},
  }, 
  {{/confData}}
];

export default routerConf;
